In [2]:
ls

Capstone - Data Wrangling.ipynb  database.sqlite*
LCDataDictionary.xlsx*           loan.csv*

In [3]:
import pandas as pd

In [4]:
loan_data = pd.read_csv('loan.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
loan_data.shape

(2260668, 145)

In [6]:
loan_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
#loan_data.columns

In [8]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 145 entries, id to settlement_term
dtypes: float64(105), int64(4), object(36)
memory usage: 2.4+ GB

In [73]:
loan_data.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260668e+06,2.260664e+06,2.258957e+06,2.260639e+06,2.260638e+06,1.102166e+06,...,2.190392e+06,2.190392e+06,2.190237e+06,2.185289e+06,2.259303e+06,2.260563e+06,2.190392e+06,2.210638e+06,2.210638e+06,2.190392e+06
mean,1.504693e+04,1.504166e+04,1.502344e+04,1.309291e+01,4.458076e+02,7.799243e+04,1.882420e+01,3.068792e-01,5.768354e-01,3.454092e+01,...,8.293767e-02,2.076755e+00,9.411458e+01,4.243513e+01,1.281935e-01,4.677109e-02,1.782428e+05,5.102294e+04,2.319377e+04,4.373201e+04
std,9.190245e+03,9.188413e+03,9.192332e+03,4.832114e+00,2.671737e+02,1.126962e+05,1.418333e+01,8.672303e-01,8.859632e-01,2.190047e+01,...,4.935732e-01,1.830711e+00,9.036140e+00,3.621616e+01,3.646130e-01,3.775338e-01,1.815748e+05,4.991124e+04,2.300656e+04,4.507298e+04
min,5.000000e+02,5.000000e+02,0.000000e+00,5.310000e+00,4.930000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.000000e+03,8.000000e+03,8.000000e+03,9.490000e+00,2.516500e+02,4.600000e+04,1.189000e+01,0.000000e+00,0.000000e+00,1.600000e+01,...,0.000000e+00,1.000000e+00,9.130000e+01,0.000000e+00,0.000000e+00,0.000000e+00,5.073100e+04,2.089200e+04,8.300000e+03,1.500000e+04
50%,1.290000e+04,1.287500e+04,1.280000e+04,1.262000e+01,3.779900e+02,6.500000e+04,1.784000e+01,0.000000e+00,0.000000e+00,3.100000e+01,...,0.000000e+00,2.000000e+00,1.000000e+02,3.750000e+01,0.000000e+00,0.000000e+00,1.142985e+05,3.786400e+04,1.630000e+04,3.269600e+04
75%,2.000000e+04,2.000000e+04,2.000000e+04,1.599000e+01,5.933200e+02,9.300000e+04,2.449000e+01,0.000000e+00,1.000000e+00,5.000000e+01,...,0.000000e+00,3.000000e+00,1.000000e+02,7.140000e+01,0.000000e+00,0.000000e+00,2.577550e+05,6.435000e+04,3.030000e+04,5.880425e+04
max,4.000000e+04,4.000000e+04,4.000000e+04,3.099000e+01,1.719830e+03,1.100000e+08,9.990000e+02,5.800000e+01,3.300000e+01,2.260000e+02,...,5.800000e+01,3.200000e+01,1.000000e+02,1.000000e+02,1.200000e+01,8.500000e+01,9.999999e+06,3.408095e+06,1.569000e+06,2.118996e+06

In [10]:
loan_data.id.head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: id, dtype: float64

In [11]:
loan_data.id.tail()

2260663   NaN
2260664   NaN
2260665   NaN
2260666   NaN
2260667   NaN
Name: id, dtype: float64

In [12]:
loan_data.info

<bound method DataFrame.info of          id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0       NaN        NaN       2500         2500           2500.0   36 months
1       NaN        NaN      30000        30000          30000.0   60 months
2       NaN        NaN       5000         5000           5000.0   36 months
3       NaN        NaN       4000         4000           4000.0   36 months
4       NaN        NaN      30000        30000          30000.0   60 months
...      ..        ...        ...          ...              ...         ...
2260663 NaN        NaN      12000        12000          12000.0   60 months
2260664 NaN        NaN      12000        12000          12000.0   60 months
2260665 NaN        NaN      10000        10000          10000.0   36 months
2260666 NaN        NaN      12000        12000          12000.0   60 months
2260667 NaN        NaN      16550        16550          16550.0   60 months

         int_rate  installment grade sub_grade  ...  \
0           13.56        84.92     C        C1  ...
1           18.94       777.23     D        D2  ...
2           17.97       180.69     D        D1  ...
3           18.94       146.51     D        D2  ...
4           16.14       731.78     C        C4  ...
...           ...          ...   ...       ...  ...
2260663     14.08       279.72     C        C3  ...
2260664     25.82       358.01     E        E4  ...
2260665     11.99       332.10     B        B5  ...
2260666     21.45       327.69     D        D5  ...
2260667     21.45       451.94     D        D5  ...

        hardship_payoff_balance_amount hardship_last_payment_amount  \
0                                  NaN                          NaN
1                                  NaN                          NaN
2                                  NaN                          NaN
3                                  NaN                          NaN
4                                  NaN                          NaN
...                                ...                          ...
2260663                            NaN                          NaN
2260664                            NaN                          NaN
2260665                            NaN                          NaN
2260666                            NaN                          NaN
2260667                            NaN                          NaN

        disbursement_method  debt_settlement_flag debt_settlement_flag_date  \
0                      Cash                     N                       NaN
1                      Cash                     N                       NaN
2                      Cash                     N                       NaN
3                      Cash                     N                       NaN
4                      Cash                     N                       NaN
...                     ...                   ...                       ...
2260663                Cash                     N                       NaN
2260664                Cash                     N                       NaN
2260665                Cash                     N                       NaN
2260666                Cash                     N                       NaN
2260667                Cash                     N                       NaN

        settlement_status settlement_date settlement_amount  \
0                     NaN             NaN               NaN
1                     NaN             NaN               NaN
2                     NaN             NaN               NaN
3                     NaN             NaN               NaN
4                     NaN             NaN               NaN
...                   ...             ...               ...
2260663               NaN             NaN               NaN
2260664               NaN             NaN               NaN
2260665               NaN             NaN               NaN
2260666               NaN             NaN               NaN
2260667               NaN             NaN               NaN

         settlement_percentage settlement_term
0                          NaN             NaN
1                          NaN             NaN
2                          NaN             NaN
3                          NaN             NaN
4                          NaN             NaN
...                        ...             ...
2260663                    NaN             NaN
2260664                    NaN             NaN
2260665                    NaN             NaN
2260666                    NaN             NaN
2260667                    NaN             NaN

[2260668 rows x 145 columns]>

In [13]:
loan_data.id.dtype

dtype('float64')

In [14]:
loan_data.id.unique()

array([nan])

In [15]:
loan_data.id.unique()

array([nan])

In [16]:
loan_data.member_id.unique()

array([nan])

In [17]:
loan_data.term.unique()

array([' 36 months', ' 60 months'], dtype=object)

In [18]:
loan_data.term.dtype

dtype('O')

In [19]:
loan_data.int_rate.isna()

0          False
1          False
2          False
3          False
4          False
           ...
2260663    False
2260664    False
2260665    False
2260666    False
2260667    False
Name: int_rate, Length: 2260668, dtype: bool

In [100]:
loan_data.int_rate.value_counts(dropna=False)

11.99    53869
5.32     47171
10.99    44165
13.99    43026
11.49    32009
         ...
24.40        1
22.64        1
17.50        1
16.83        1
11.16        1
Name: int_rate, Length: 673, dtype: int64

In [21]:
loan_data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260663,NaN,NaN,12000,12000,12000.0,60 months,14.08,279.72,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260664,NaN,NaN,12000,12000,12000.0,60 months,25.82,358.01,E,E4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260665,NaN,NaN,10000,10000,10000.0,36 months,11.99,332.10,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260666,NaN,NaN,12000,12000,12000.0,60 months,21.45,327.69,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260667,NaN,NaN,16550,16550,16550.0,60 months,21.45,451.94,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
loan_data.drop(loan_data.columns[[0,1]], axis=1, inplace=True)

In [24]:
loan_data

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,2500,2500,2500.0,36 months,13.56,84.92,C,C1,Chef,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,30000,30000,30000.0,60 months,18.94,777.23,D,D2,Postmaster,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,4000,4000,4000.0,36 months,18.94,146.51,D,D2,IT Supervisor,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,30000,30000,30000.0,60 months,16.14,731.78,C,C4,Mechanic,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260663,12000,12000,12000.0,60 months,14.08,279.72,C,C3,house keeper,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260664,12000,12000,12000.0,60 months,25.82,358.01,E,E4,Skilled Labor,< 1 year,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260665,10000,10000,10000.0,36 months,11.99,332.10,B,B5,Teacher,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260666,12000,12000,12000.0,60 months,21.45,327.69,D,D5,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260667,16550,16550,16550.0,60 months,21.45,451.94,D,D5,BABYSITTER,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
loan_data.settlement_status.value_counts()

ACTIVE      14811
COMPLETE    13517
BROKEN       4728
Name: settlement_status, dtype: int64

In [57]:
#loan_data.debt_settlement_flag_date.value_counts()

In [28]:
(loan_data.settlement_status.values == 'NaN').sum()

0

In [29]:
(loan_data.values == 'NaN').sum()

0

In [56]:
#loan_data['hardship_payoff_balance_amount'].value_counts()

In [55]:
#loan_data.settlement_term.value_counts()

In [32]:
loan_data.isna().sum()

loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
term                           0
int_rate                       0
                          ...
settlement_status        2227612
settlement_date          2227612
settlement_amount        2227612
settlement_percentage    2227612
settlement_term          2227612
Length: 143, dtype: int64

In [44]:
# there are columns that have significant number of na values, let's drop these columns. 
# I have dropped columns that contain more than 2M NaNsfor column in loan_data.columns:
    if loan_data[column].isna().sum() > 2000000:
        loan_data.drop(columns=[column], axis=1, inplace=True)

In [47]:
loan_data.shape

(2260668, 107)

In [49]:
# columns have reduced from 145 to 107.

In [99]:
# Let's convert the term column from str to int, first lets extract the numerical value from the string

In [85]:
loan_data['term'] = loan_data['term'].str.extract('(\d+)')

In [88]:
loan_data['term'].head()

0    36
1    60
2    36
3    36
4    60
Name: term, dtype: object

In [94]:
loan_data['term'].dtypes

dtype('O')

In [97]:
loan_data['term'].astype('category')

0          36
1          60
2          36
3          36
4          60
           ..
2260663    60
2260664    60
2260665    36
2260666    60
2260667    60
Name: term, Length: 2260668, dtype: category
Categories (2, object): [36, 60]

In [98]:
loan_data['term'].dtypes

dtype('O')

In [58]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 107 entries, loan_amnt to debt_settlement_flag
dtypes: float64(80), int64(4), object(23)
memory usage: 1.8+ GB

In [60]:
loan_data.isna().sum() > 0

loan_amnt                     False
funded_amnt                   False
funded_amnt_inv               False
term                          False
int_rate                      False
                              ...
total_bc_limit                 True
total_il_high_credit_limit     True
hardship_flag                 False
disbursement_method           False
debt_settlement_flag          False
Length: 107, dtype: bool

In [61]:
loan_data.isna().sum()

loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
                              ...
total_bc_limit                50030
total_il_high_credit_limit    70276
hardship_flag                     0
disbursement_method               0
debt_settlement_flag              0
Length: 107, dtype: int64

In [64]:
loan_data.emp_length.unique()

array(['10+ years', '6 years', '4 years', '< 1 year', '2 years',
       '9 years', nan, '5 years', '3 years', '7 years', '1 year',
       '8 years'], dtype=object)

In [77]:
loan_data.emp_length.value_counts()

10+ years    748005
2 years      203677
< 1 year     189988
3 years      180753
1 year       148403
5 years      139698
4 years      136605
6 years      102628
7 years       92695
8 years       91914
9 years       79395
Name: emp_length, dtype: int64

In [78]:
loan_data.emp_length.value_counts(dropna=False)

10+ years    748005
2 years      203677
< 1 year     189988
3 years      180753
1 year       148403
NaN          146907
5 years      139698
4 years      136605
6 years      102628
7 years       92695
8 years       91914
9 years       79395
Name: emp_length, dtype: int64

In [80]:
(loan_data.emp_length.isna().sum()) / len(loan_data)

0.0649838897175525

In [71]:
# columns where the missing values are more than 10%
for column in loan_data.columns:
    if loan_data[column].isna().sum() > (0.1 * len(loan_data)):
        print(column)

mths_since_last_delinq
mths_since_last_record
next_pymnt_d
mths_since_last_major_derog
open_acc_6m
open_act_il
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
inq_fi
total_cu_tl
inq_last_12m
mths_since_recent_bc_dlq
mths_since_recent_inq
mths_since_recent_revol_delinq

In [75]:
# columns where the missing values are more than 50%
for column in loan_data.columns:
    if loan_data[column].isna().sum() > (0.5 * len(loan_data[column])):
        print(column)

mths_since_last_delinq
mths_since_last_record
next_pymnt_d
mths_since_last_major_derog
mths_since_recent_bc_dlq
mths_since_recent_revol_delinq